<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Vuelo Amigo/AboutUs</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='welcome_page/Assets/Img/favicon.png') }}" type="image/x-icon">


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="{{ url_for('static', filename='AboutUs/assets/css/font-awesome-all.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='AboutUs/assets/css/flaticon.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='AboutUs/assets/css/owl.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='AboutUs/assets/css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='AboutUs/assets/css/jquery.fancybox.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='AboutUs/assets/css/animate.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='AboutUs/assets/css/jquery-ui.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='AboutUs/assets/css/nice-select.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='AboutUs/assets/css/color/theme-color.css') }}" id="jssDefault" rel="stylesheet">
<link href="{{ url_for('static', filename='AboutUs/assets/css/switcher-style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='AboutUs/assets/css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='AboutUs/assets/css/responsive.css') }}" rel="stylesheet">
</head>


<!-- page wrapper -->
<body>

    <div class="boxed_wrapper">
        <!--Page Title-->
        <section class="page-title centred" style="background-image: url({{ url_for('static', filename='aboutus/assets/PXL_20230405_085014258~2.jpg') }});">
            <div class="auto-container">
                <div class="content-box clearfix">
                    <h1>About Us</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{{ url_for('views.dashboard') }}">Dashboard</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!-- about-section -->
        <section class="about-section about-page pb-0">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="row align-items-center clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <div class="image_block_2">
                                <div class="image-box">
                                    <figure class="image"><img src="{{ url_for('static', filename='aboutus/assets/images/agents/Rishi.jpeg') }}" alt=""></figure>
                                    <div class="text wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <h2>Team <br />Leader</h2>
                                        <!-- <h4>Team <br />Leader</h4> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="content_block_3">
                                <div class="content-box">
                                    <div class="sec-title">
                                        <h5>About</h5>
                                        <h2>Hi, I’m Rishimithun Muralidharan </h2>
                                    </div>
                                    <div class="text">
                                        <p>
                                            I was in charge of co-ordinating among team members to make sure the prototype came to life. The component that I developed was the backend of the web application, it uses the micro web framework Flask and to store data related to user profiles for authentication, I used the SQL toolkit SQLAlchemy. 
                                            I also deployed our web application to PythonAnywhere.</p>
                                        <!-- <p>dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.</p> -->
                                    </div>
                                    <!-- <ul class="list clearfix">
                                        <li>consectetur elit sed do eius</li>
                                        <li>consectetur elit sed</li>
                                    </ul> -->
                                    <div class="btn-box">
                                        <a href="contact.html" class="theme-btn btn-one">Contact With Me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->


                <!-- team-section -->
                <section class="team-section sec-pad centred">
                    <div class="auto-container">
                        <div class="sec-title">
                            <h5>Our Agents</h5>
                            <h2>Meet Our Excellent Agents</h2>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                <div class="team-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="{{ url_for('static', filename='aboutus/assets/images/agents/Akila.jpg') }}" alt=""></figure>
                                        <div class="lower-content">
                                            <div class="inner">
                                                <h4><a href="agents-details.html">Akila Gamage </a></h4>
                                                <span class="designation">Frontend Development</span>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                <div class="team-block-one wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="{{ url_for('static', filename='aboutus/assets/images/agents/Vinisha.jpg') }}" alt=""></figure>
                                        <div class="lower-content">
                                            <div class="inner">
                                                <h4><a href="agents-details.html">Vinisha Bandara</a></h4>
                                                <span class="designation">Frontend Development</span>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                <div class="team-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="{{ url_for('static', filename='aboutus/assets/images/agents/Vinuja.jpg') }}" alt=""></figure>
                                        <div class="lower-content">
                                            <div class="inner">
                                                <h4><a href="agents-details.html">Vinuja rajapaksha</a></h4>
                                                <span class="designation">Data Science Component</span>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                                <div class="team-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="{{ url_for('static', filename='aboutus/assets/images/agents/Sachintha.jpg') }}" alt=""></figure>
                                        <div class="lower-content">
                                            <div class="inner">
                                                <h4><a href="#">Sachintha Sasanjaya</a></h4>
                                                <span class="designation">Data Science Component</span>
                                                <ul class="social-links clearfix">
                                                    <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- team-section end -->


        
        <!-- clients-section -->
        <!-- <section class="clients-section bg-color-1">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-1.png);"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12 col-sm-12 title-column">
                        <div class="sec-title">
                            <h5>Our Pertners</h5>
                            <h2>We’re going to Became Partners for the Long Run.</h2>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 inner-column">
                        <div class="clients-logo">
                            <ul class="logo-list clearfix">
                                <li>
                                    <figure class="logo"><a href="index-2.html"><img src="assets/images/clients/clients-1.png" alt=""></a></figure>
                                </li>
                                <li>
                                    <figure class="logo"><a href="index-2.html"><img src="assets/images/clients/clients-2.png" alt=""></a></figure>
                                </li>
                                <li>
                                    <figure class="logo"><a href="index-2.html"><img src="assets/images/clients/clients-3.png" alt=""></a></figure>
                                </li>
                                <li>
                                    <figure class="logo"><a href="index-2.html"><img src="assets/images/clients/clients-4.png" alt=""></a></figure>
                                </li>
                                <li>
                                    <figure class="logo"><a href="index-2.html"><img src="assets/images/clients/clients-5.png" alt=""></a></figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- clients-section end -->


        <!-- feature-style-three -->
        <!-- <section class="feature-style-three centred pb-110">
            <div class="auto-container">
                <div class="sec-title">
                    <h5>Our Services</h5>
                    <h2>Property Services</h2>
                </div>
                <div class="three-item-carousel owl-carousel owl-theme owl-nav-none dots-style-one">
                    <div class="feature-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-1"></i></div>
                            <h4>Excellent Reputation</h4>
                            <p>Lorem ipsum dolor sit consectetur sed eiusm tempor incididunt dolore magna.</p>
                        </div>
                    </div>
                    <div class="feature-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-26"></i></div>
                            <h4>Best Local Agents</h4>
                            <p>Lorem ipsum dolor sit consectetur sed eiusm tempor incididunt dolore magna.</p>
                        </div>
                    </div>
                    <div class="feature-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-21"></i></div>
                            <h4>Personalized Service</h4>
                            <p>Lorem ipsum dolor sit consectetur sed eiusm tempor incididunt dolore magna.</p>
                        </div>
                    </div>
                    <div class="feature-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-1"></i></div>
                            <h4>Excellent Reputation</h4>
                            <p>Lorem ipsum dolor sit consectetur sed eiusm tempor incididunt dolore magna.</p>
                        </div>
                    </div>
                    <div class="feature-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-26"></i></div>
                            <h4>Best Local Agents</h4>
                            <p>Lorem ipsum dolor sit consectetur sed eiusm tempor incididunt dolore magna.</p>
                        </div>
                    </div>
                    <div class="feature-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-21"></i></div>
                            <h4>Personalized Service</h4>
                            <p>Lorem ipsum dolor sit consectetur sed eiusm tempor incididunt dolore magna.</p>
                        </div>
                    </div>
                    <div class="feature-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-1"></i></div>
                            <h4>Excellent Reputation</h4>
                            <p>Lorem ipsum dolor sit consectetur sed eiusm tempor incididunt dolore magna.</p>
                        </div>
                    </div>
                    <div class="feature-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-26"></i></div>
                            <h4>Best Local Agents</h4>
                            <p>Lorem ipsum dolor sit consectetur sed eiusm tempor incididunt dolore magna.</p>
                        </div>
                    </div>
                    <div class="feature-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-21"></i></div>
                            <h4>Personalized Service</h4>
                            <p>Lorem ipsum dolor sit consectetur sed eiusm tempor incididunt dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- feature-style-three end -->
        <!-- testimonial-style-four -->
        <section class="testimonial-style-four sec-pad centred">
            <div class="auto-container">
                <div class="sec-title">
                    <h5>Testimonials</h5>
                    <h2>What They Say About Us</h2>
                </div>
                <div class="three-item-carousel owl-carousel owl-theme owl-nav-none dots-style-one">
                    <div class="testimonial-block-three">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-18"></i></div>
                            <h4>“Great initiative by smart undergraduates, hope to see it in the market soon”</h4>
                            <h5>Mr. Heshan Karunaratne</h5>
                            <span class="designation">Business Development Director @ CodeGen International</span>
                        </div>
                    </div>
                    <div class="testimonial-block-three">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-18"></i></div>
                            <h4>“Interesting project, with potential to add a lot of value”</h4>
                            <h5>Jonathan Andriezen</h5>
                            <span class="designation">@ Sixer Video</span>
                        </div>
                    </div>
                    <div class="testimonial-block-three">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-18"></i></div>
                            <h4>“Looking forward to seeing it in the market soon. It will definitely be useful to a lot of stakeholders”</h4>
                            <h5>Jeiyaraman</h5>
                            <span class="designation">CEO @ Immersive Smile Plus</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-style-four end -->






    <!-- jequery plugins -->
    <script src="{{ url_for('static', filename='AboutUs/assets/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/owl.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/wow.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/validation.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/jquery.fancybox.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/isotope.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/jQuery.style.switcher.min.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='AboutUs/assets/js/product-filter.js') }}"></script>

    <!-- main-js -->
    <script src="{{ url_for('static', filename='AboutUs/assets/js/script.js') }}"></script>

</body><!-- End of .page_wrapper -->

</html>
